.advantage {

  @media (min-width: @tablet-width) {
display: flex;
flex-direction: row;
}
}

.advantage__wrap {


  @media (min-width: @tablet-width) {
    //
    // padding: 15.6% 12.5% 17.2%; почему все ползет если задавать паддинг в процентах?
      width: 33%;

  }

  @media (min-width: @desktop-width) {
    // padding: 53px 20px 40px 20px;
  }

}

.advantage__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
}

.advantage__number {
  margin: 0 auto;
}

.advantage__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
// .advantage__picture {
// }
// .icon-wrap {
//
// }

.advantage__picture--wrapper {
  // тут вопросик что делать если картинка прячется кроме высоты,,


  @media (min-width: @tablet-width) {
  min-height: 256px;
  width: 66.6%;
  flex-grow: 1;
  box-sizing: border-box;
}
}
