.advantage-list {
  margin: auto 0;
  padding: 0;
}
.advantage-list__item {

}
.advantage-list__item--blue {
  color: #ffffff;
  background-color: #81B3D2;
}
.advantage-list__item--grey {
  color: #000000;
  background-color: #EEEEEE;
}
