.advantage-list {
  margin: auto 0;
  padding: 0;
}
.advantage-list__item {
  font-size: 14px;
  line-height: 26px;
}
.advantage-list__item--blue {
  color: #ffffff;
  background-color: #81b3d2;
}
.advantage-list__item--grey {
  color: #000000;
  background-color: #eeeeee;
}
