.booking {
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
}

.booking-wrap {
  align-items: center;
  padding: 25px 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: @tablet-width) {
    width: 320px;

    .booking__text br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 500px;
    margin: 0 auto;
    padding: 56px 20px 45px;
  }
}

.booking__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0 auto 25px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin: 0 auto 30px;
  }
}

.booking__text {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto 27px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    margin: 0 auto 42px;
  }
}

.booking__submit {
  display: block;
  align-content: center;
  font-size: 21px;
  line-height: 26px;
  color: @white;
  background-color: @blue;
  padding: 16px;
  margin: 0 auto;

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    color: fade(@white, 30%);
    background-color: @blue-down;
  }

  &:disabled {
    background-color: @grey-hover;
  }
}
