.checkbox-list {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  text-transform: none;
  background: #F2F2F2;
}
// .checkbox-list__item {
// }
.checkbox-list__field {
  width: 46px;
  height: 46px;
  background: #F2F2F2;
}
