.form-item {
  border: none;
}

.form-item__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.form-item__field {

  font-size: 14px;
  line-height: 26px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;
}

.form-item__name {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
  background: #F2F2F2;
}

.form-item__name--big {

}

.form-item__contacts {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background: #F2F2F2;
}

.form-item__icon {
  width: 58px;
  height: 58px;
  background-color: #E6E6E6;
}

.form-item__icon--phone {


  }

.form-item__icon--phone:after {
  content :url(../img/icon-phone.svg);
}

.form-item__icon--mail {

}
.form-item__icon--mail:after {
  content :url(../img/icon-mail.svg);
}

.form-item textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  border: none;
  padding: 18px 21px 24px 21px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
  background: #F2F2F2;
}
