.likes {
  display: inline-grid;
  grid-template-columns: 23px 1fr;
  grid-column-gap: 15px;
  text-align: left;
  align-self: center;

  @media (min-width: @tablet-width) {
    grid-column-gap: 8px;
    width: 23%;
  }

  @media (min-width: @desktop-width) {
    width: 18%;
  }
}

.likes__icon {
  & path {
    @media (min-width: @tablet-width) {
      fill: fade(#000000, 30%);
    }

    @media (min-width: @desktop-width) {
      fill: @white;
    }
  }
}

.likes__counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;

  @media (min-width: @desktop-width) {
    color: @white;
  }
}
