.page-header {
  background-color: @white;
  display: flex;
  flex-direction: column;
}

.page-header__menu-wrap {
  @media (max-width: @mobile-width-only) {
    background-color: transparent;
    width: 100%;
    height: 0;
    z-index: 99;
    position: relative;
  }
}

.page-header__logo-wrap {
  @media (max-width: @mobile-width-only) {
    background-color: @white;
    position: relative;
    height: 56px;
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 102px;
  margin: 0 auto;
  z-index: 5;

  @media (min-width: @desktop-width) {
    width: 188px;
    height: 96px;
  }
}

.page-header__intro--index::before {
  content: "";
  display: block;

  @media (max-width: @mobile-width-only) {
    height: 445px;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat center 100%,
      url("../img/text-sedona-index.svg") no-repeat center 62%,
      #81b3d2 url("../img/bg-back-mobile@1x.jpg") no-repeat bottom;
    background-size: 103%, 282px, cover;
  }

  @media (min-width: @tablet-width) {
    height: 520px;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat 52% bottom,
      url("../img/text-sedona-index.svg") no-repeat center 45%,
      #81b3d2 url("../img/bg-back-tablet@1x.jpg") no-repeat top;
    background-size: 100%, 460px, cover;
  }

  @media (min-width: @desktop-width) {
    height: 518px;
    background: url("../img/bg-intro-triangle-desktop.svg") no-repeat 52% bottom,
      url("../img/text-sedona-index.svg") no-repeat center 45%,
      #81b3d2 url("../img/bg-back-desktop@1x.jpg") no-repeat top;
    background-size: 100%, 460px, cover;
  }
}

.page-header__intro::before {
  content: "";
  display: block;

  @media (max-width: @mobile-width-only) {
    height: 158px;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat center 100%,
      url("../img/text-sedona.svg") no-repeat center 43%,
      #81b3d2 url("../img/bg-back-mobile@1x.jpg") no-repeat top;
    background-size: 103%, 230px, cover;
  }

  @media (min-width: @tablet-width) {
    height: 290px;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat 52% bottom,
      url("../img/text-sedona.svg") no-repeat center 44%,
      #81b3d2 url("../img/bg-back-tablet@1x.jpg") no-repeat bottom;
    background-size: 100%, 458px, cover;
  }

  @media (min-width: @desktop-width) {
    height: 300px;
    background: url("../img/bg-intro-triangle-desktop.svg") no-repeat 52% bottom,
      url("../img/text-sedona.svg") no-repeat center 45%,
      #81b3d2 url("../img/bg-back-desktop@1x.jpg") no-repeat bottom;
    background-size: 100%, 460px, cover;
  }
}
