.page-header {
  background-color: @white;
  display: flex;
  flex-direction: column;
}
//
// .page-header__logo {
//
// }
//
// .page-header__intro {
//
// }
//
// .page-header__intro--index {
//
// }
