.page-wrap {
  max-width: @desktop-width;
  min-width: 320px;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  background-color: @white;
  color: #000000;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    box-shadow: 0 0 30px -4px rgba(0,0,0,.6);
  }
}
