.photos {
  line-height: 26px;
}

.photos__header {
  text-align: center;
  text-transform: uppercase;
}

.photos__title {
  font-size: 18px;
  line-height: 26px;
}

.photos__description {
  font-size: 14px;
  line-height: 24px;
}

.photos__container {
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;

    @media (min-width: @desktop-width) {
      width: 1200px;
    }
  }
}
