.player {
  background: url("../img/video-mobile@1x.jpg") center no-repeat;
  width: 320px;
  height: 201px;
}

.player__control {
  position: relative;
  padding: 0 24px;
  margin: 0 auto;
  background-color: @grey;
  width: 280px;
  box-sizing: border-box;
}

.player__progress {
  position: absolute;
  top: -45px;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 280px;
  height: 45px;
  border: none;
  outline: none;
}

.player__progress-bar {
  webkit-appearance: none;
  background-color: transparent;
  width: 235px;
  padding-top: 20px;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    height: 2px;
    width: 235px;
    background-color: fade(@white, 20%);
    text-align: center;
    margin-bottom: 20px;
  }
  // &::-moz-range-thumb ,
  &::-webkit-slider-thumb {
    webkit-appearance: none;
    height: 12px;
    width: 12px;
    border: 1px solid @white;
    border-radius: 6px;
    background: @white;
  }
}

.player__button {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
}

.player__repeat {
  border: none;
  flex-grow: 1;
  align-items: flex-start;
  text-align: left;

  @media (max-width: @tablet-width) {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:focus {
      fill: fade(#333333, 70%);
      outline: none;
    }
  }

  @media (min-width: @tablet-width) {
    fill: @white;

    &:hover {
      fill: fade(@white, 40%);
    }

    &:focus {
      fill: fade(@white, 70%);
      outline: none;
    }
  }
}

.player__sub {
  border: none;

  @media (max-width: @tablet-width) {
    fill: #5c6870;

    &:hover {
      fill: fade(#333333, 67%);
    }

    &:focus {
      fill: fade(#333333, 70%);
      outline: none;
    }
  }

  @media (min-width: @tablet-width) {
    fill: @white;

    &:hover {
      fill: fade(@white, 40%);
    }

    &:focus {
      fill: fade(@white, 70%);
      outline: none;
    }
  }
}

.player__fullscreen {
  border: none;

  @media (max-width: @tablet-width) {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:focus {
      fill: fade(#333333, 70%);
      outline: none;
    }
  }

  @media (min-width: @tablet-width) {
    fill: @white;

    &:hover {
      fill: fade(@white, 40%);
    }

    &:focus {
      fill: fade(@white, 70%);
      outline: none;
    }
  }
}
