.player {
  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.player__window {
  background-image: url("../img/video-mobile@1x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  height: 201px;
  margin: 0 auto;

  @media (min-resolution: 144dpi),
    (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/video-tablet@1x.jpg");
    width: 648px;
    height: 500px;

    @media (min-resolution: 144dpi),
      (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/video-desktop@1x.jpg");
    width: 800px;
    height: 500px;

    @media (min-resolution: 144dpi),
      (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}


.player__control {
  position: relative;
  padding: 0 19px;
  margin: 0 auto;
  background-color: @grey;
  width: 280px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 30px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.player__progress {
  position: absolute;
  top: -45px;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 280px;
  height: 45px;
  border: none;
  outline: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 2px;
    background-color: transparent;
    top: 0;
  }

  @media (min-width: @desktop-width) {
    top: 0;
  }
}

.player__progress-bar {
  appearance: none;
  background-color: transparent;
  width: 235px;
  height: 30px;
  margin: 0;
  padding-top: 15px;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    height: 3px;
    width: 235px;
    background-color: fade(@white, 20%);
    text-align: center;
    margin-bottom: 14px;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    height: 9px;
    width: 9px;
    border: 1px solid @white;
    border-radius: 6px;
    background: @white;
    margin-top: -3px;

    @media (max-width: @mobile-width-only) {
      margin-left: -7px;
    }

    @media (min-width: @tablet-width) {
      margin-left: 35px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 389px;
    padding-top: 39px;
    padding-right: 65px;
  }

  @media (min-width: @desktop-width) {
    width: 541px;
  }
}

.player__button {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    height: 93px;
  }
}

.player__repeat {
  border: none;
  flex-grow: 1;
  align-items: flex-start;
  text-align: left;

  @media (max-width: @mobile-width-only) {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:focus {
      fill: fade(#333333, 70%);
      outline: none;
    }
  }

  @media (min-width: @tablet-width) {
    fill: @white;
    background-color: transparent;

    &:hover {
      fill: fade(@white, 40%);
    }

    &:focus {
      fill: fade(@white, 70%);
      outline: none;
    }
  }
}

.player__sub {
  border: none;

  @media (max-width: @mobile-width-only) {
    fill: #5c6870;
    padding: 5px 0 0;
    margin: 0 25px;

    &:hover {
      fill: fade(#333333, 67%);
    }

    &:focus {
      fill: fade(#333333, 70%);
      outline: none;
    }
  }

  @media (min-width: @tablet-width) {
    fill: @white;
    align-items: center;
    background-color: transparent;

    &:hover {
      fill: fade(@white, 40%);
    }

    &:focus {
      fill: fade(@white, 70%);
      outline: none;
    }
  }
}

.player__fullscreen {
  border: none;

  @media (max-width: @mobile-width-only) {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:focus {
      fill: fade(#333333, 70%);
      outline: none;
    }
  }

  @media (min-width: @tablet-width) {
    fill: @white;
    padding: 0;
    margin: 0 10px 0 25px;
    background-color: transparent;

    &:hover {
      fill: fade(@white, 40%);
    }

    &:focus {
      fill: fade(@white, 70%);
      outline: none;
    }
  }
}
