.social-list__item {
  display: block;
}
.icon-twitter {
  background: #81B3D2;
  fill: #ffffff;
  display: block;
  width: 47px;
  height: 40px;
}
.icon-facebook {
  background: #81B3D2;
  fill: #ffffff;
  display: block;
  width: 47px;
  height: 40px;
}
.icon-youtube {
  background: #81B3D2;
  fill: #ffffff;
  display: block;
  width: 47px;
  height: 40px;
}
